[Desktop Entry]
Version=1
Type=Application
Name=SoundBNLinux
Comment=Звуковая клавиатура 
Path=/opt/bnlinux/bin
Exec=pkexec /opt/bnlinux/bin/bnlinux -s
Icon=/opt/bnlinux/icon/iconsound.ico
Categories=TextTools
Terminal=false
